@media (min-width: 320px) and (max-width: 600px) {
    html {
        position: absolute;
    }
    table {
        position: inline;
        vertical-align: bottom;
    }
    table td tr th {
        top: 20%;
        margin: -5px;
        display: inline;
    }
    input {
        margin-left: 5px;
        margin-right: 3em;
        width: 150px;
        border: 2px solid #000000;
    }
    h1 {
        margin-left: 0.3em;
        font-size: 2.5em;
        font-weight: bold;
        line-height: 0.9em;
        width: 20%;
        height: -6em;
        top: -0.4em;
    }
    canvas {
        width: 50%;
    }
    table tr th#fonte2.linha {
        font-size: 2em;
        display: flexbox;
    }
    body {
        position: relative;
        display: inline;
        text-align: center;
        line-height: 2 em;
        display: grid(1, 1fr);
    }
}