/*configurando estilo da página pos resetar tudo no outro arquivo*/

html {
    position: relative;
    border-radius: solid 24px;
    margin: 0;
    align-items: center;
    flex-direction: row;
    display: flex;
    padding: 0.5em;
}

body {
    line-height: 7em;
    position: absolute;
    background: rgb(2, 25, 32);
    padding: 2em 2em 2em 1em;
    margin-top: -12em;
}

h1 {
    font-weight: bold;
    margin-top: 5em;
    font-size: 30px;
    margin-left: 12.5em;
    color: rgb(16, 31, 243);
}

th,
td {
    text-align: left;
    vertical-align: bottom;
    line-break: 40px;
    line-height: 40px;
    margin: auto;
}

@media print {
    body .conteudo {
        size: a4;
        width: 50%;
        height: 100%;
    }
}


/*seção de configuração das tags separadamente atraves de suas marcações ou divs*/

table.centralizar {
    margin-left: 1em;
    color: #fff;
}

.conteudo {
    position: relative;
}

.output {
    font-weight: bold;
}

#payment {
    text-decoration: underline;
}

#graph {
    width: 40em;
    height: 30em;
    zoom: 100%;
    scale: 50%;
    margin-left: 1em;
    padding-left: -5em;
    border: solid rgb(125, 5, 180) 1px;
    height: 502px;
    border-right-width: -5px;
    border-left-width: 3px;
    border-top-width: 3px;
    border-bottom-width: 5px
}

table tr th#fonte {
    font-size: 26px;
    margin: 1em;
}

table tr th#fonte2 {
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}

.centralizar {
    position: relative;
}

input:focus {
    border: 2px solid #000000;
}

put::placeholder {
    color: transparent;
}